*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
html{
    scroll-behavior: smooth;
}
.logo{
    
}
ul{
    
}
li{
    text-transform: capitalize;
    list-style: none;
    color: rgba(256, 256, 256, .6)
}
li:hover{
    color:rgba(242, 217, 132, 1);
}
.firstSection{
    background: url(../img/hero-section.png) no-repeat;
    background-size: cover;
}
.subSection{
    color: #fff;
    text-align: center;
    padding: 10% 15%;
}
.subSection>p{
    text-align: center;
}
.textColor{
    color: rgba(242, 217, 132, 1);
}
.schd{
    color: rgba(242, 217, 132, 1);
    border: 1px solid rgba(242, 217, 132, 1);
    border-radius: 5px;
    padding: 1% 4%;
    font-size: 100%;
}
.firstButton{
    background: rgba(242, 217, 132, 1);
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
.secondH{
    text-transform: capitalize;
}
.firstP{
    
}
.flexP{
    display: flex;
    flex-direction: column;
    padding-right: 7%;
}
.figures p:nth-child(1){
    border-right: 1px solid rgba(256, 256, 256, .5);
}
.figures p:nth-child(2){
    border-right: 1px solid rgba(256, 256, 256, .5);
    padding-right: 30%;
}
.figures{
    display: flex;
    justify-content: space-between;
    background: rgb(29, 27, 27, 0.5);
}

@media screen and (min-width: 768px){
    header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    ul{
        display: flex;
        flex-direction: row;
    }
    
    
}
@media screen and (min-width: 960px){
header{
    padding: 3%;
}
    .logo{
    width: 10%;
}
li{
    margin: 5%;
    font-size: 100%;
}
.firstButton{
    padding: 2%;
    margin-top: 5%;
}
.secondH{
    font-size: 300%;
}
.num{
    font-size: 250%;
}
.figures{
    margin-top: 25%;
    border-radius: 5px;
    padding: 0.5%;
}
}